<!DOCTYPE html>

<html>
    <head>
                    <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="/public/style.css">    
    </head>
        <body>
                {{>header}}
                <p>{{name}} <br>
                    If you are having problem in running this web application, then you can contact our project leader Mr.{{name}} whose phone no is {{phone}}. He can also recieve grievences through email which is {{email}}. And you can anytime visit him at his office located at {{location}}</p>
                    {{>footer}}
        </body>
    
</html>